.github/
docs/
test/
src/
node_modules/
esbuild.mjs
vitest.config.ts
tsconfig*.json
out-test/
*.vsix
releases/
.gitignore
.release-please-manifest.json
release-please-config.json
.superpowers/
.vscode-test/
assets/
scripts/
.vscode/
